.expense_form {
  padding: 1rem;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: rgb(31, 31, 31);
  margin: 2rem auto;
  width: 20rem;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) of the container */
}

.input-container {
  display: flex;
  justify-content: space-between; /* Distribute space between label and input */
  width: 300px; /* Adjust width as needed */
  margin-bottom: 10px; /* Add margin between input groups */
}

label {
  margin-right: 10px; /* Add margin between label and input */
}

button {
  margin-top: 10px; /* Add margin between inputs and button */
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: red;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  margin: 10px;
}
